<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Selenium Suite">
    <listeners>
        <listener class-name="configs.TestNG.AnnotationTransformer"/>
        <listener class-name="configs.TestNG.TestListener"/>
    </listeners>
    <test name="Automationpractice Selenium Suite" parallel="methods" thread-count="5">
        <packages>
            <package name=".*"/>
        </packages>
    </test>
</suite>